

body{
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #C6BAAE;
	background: url("../img/backgr_red.jpg") #D8DCCE;

	font-family: "Palatino Linotype";
	overflow-x: hidden;
	width:100%;
	
}

.border{
	border-right: thin solid black;
	text-align: center;
}

.paragraph{
	text-align: left;
	margin-left: 15px;
}

.marginCustom{
	margin-right: 0px;
	margin-left: 25px;
}

.marginFooter{
	margin-top: 50px;
}

.marginFooter p{
	color: white;
}

.mouseOver:hover{
	height: 10px;
	width: 10px;
}

.iconBox{
	text-align: center;
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 75px;
	border: 1px solid black;
	box-shadow: 0 0 50px rgba(0,0,0,0.9) inset;
	background: url("../img/paper.jpg") #D8DCCE;

}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}

.paintTheRow{
  box-shadow: 0 0 10px rgba(0,0,0,0.9) inset;
  background-color:#A3A3FF;
  min-height: 100%;
  margin-top: 20px;
}

.paintTheRow2{
	box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
	background-color:#B4B48F;
	min-height: 100%;
	margin-top: 20px
}